__pycache__
.ipynb_checkpoints
slurm-*
_scheduler*
*.cube
core*
*.out
*.npy
*.gpw
*.txt
*.dat
*.pckl
.vscode/
!*/published_reference/**
*/published_reference/Angelo_ase
output/
**/job_scripts/
*.bin
*.pkl
*.tar.gz
